*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div{
    margin:10px 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scores{
    width: 75%;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    font-size: 2.4rem;

}
.card p{
    display: inline;
}
.gameboard{
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3,1fr);
    gap:4px;
    background-color: red;
   
}
.block{
    margin: 0;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 150px;
}

.block:hover{
    background-color: grey;
}


.settings{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 187);
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    background-color: bisque;
}
.msg{
    font-size: 1.4rem;
}
.title{
    font-size: 1.5rem;
    text-align: center;
}

.player1{
    color: rgb(10, 131, 196);
}

.player2{
    color: rgba(177, 164, 13, 1);
}